nav
	.navbar-header
		.navbar-brand
			+icon($icon-ancora, 21)
			margin: 0

			&:before
				vertical-align: sub
				margin-right: 5px

	.navbar-collapse
		.redes-sociais
			.instagram
				+icon($icon-instagram, 20)
				
			.facebook
				+icon($icon-facebook, 20)